extends Views/layouts/default.pug

//- set variables used in layout
block variables
	- const title = 'Home'

//- add page specifically styles
append style
	link(href=require('./styles.scss') rel='stylesheet')

//- add page specifically scripts
append script
	script(src=require('./main.js') defer)

block header
	header
		.container
			ul.menu
				li
					a(href="#") About Us
				li
					a(href="#") Industries
				li
					a(href="#") Contacts
block content
	section.main
		.container 
			.main-wrapper
				h1 Consultancy that <br> drives optimal <br> results
				a.main-button(href="#" ) Contact us

	section.aboutUs
		.container
			.aboutUs-wrapper
				h2 About Us
				.aboutUs-wrapper-text
					p BerLush is a consultancy firm with a regional network of companies and portable dynamic expertise, working with local, regional and global clients across different industries to provide consultancy that drives optimal results.
					p As an entrusted partner and reliable escort to excellence, we don’t stop at high level consultancy and theoretical recommendations, but rather walk every organization hand in hand through their journey to effective, proven, and enduring solutions.
				.aboutUs-wrapper-images
					img(src=require('Images/aboutUs-image.png'))
	
	section.industries
		.container
			.industries-wrapper
				.industries-wrapper-title
					h2 BerLush representing a different companies in a different sectors in KSA
				.industries-wrapper-card 
					.industries-wrapper-card-title
						h2 Industries that we serve
					.industries-wrapper-card-content
						.card-content-images 
							img(src=require('Images/hardware-chip.svg'))
						h2 Cyber
						p Opora Cervello
					.industries-wrapper-card-content
						.card-content-images 
							img(src=require('Images/shield.svg'))
						h2 Security
						p D-fend
					.industries-wrapper-card-content
						.card-content-images 
							img(src=require('Images/subway.svg'))
						h2 Rail vehicle
						p Deuta