extends Views/layouts/default.pug

//- set variables used in layout
block variables
	- const title = 'Home'

//- add page specifically styles
append style
	link(href=require('./styles.scss') rel='stylesheet')

//- add page specifically scripts
append script
	script(src=require('./main.js') defer)

block header
	header
		.container
			ul.menu
				li
					a(href="#aboutUs") About Us
				li
					a(href="#industries") Industries
				li
					a(href="#contacts") Contacts
block content
	section.main
		.container 
			.main-wrapper
				h1 Consultancy that <br> drives optimal <br> results
				a.main-button(href="#" ) Contact us

	section#aboutUs
		.container
			.aboutUs-wrapper
				h2 About Us
				.aboutUs-wrapper-text
					p BerLush is a consultancy firm with a regional network of companies and portable dynamic expertise, working with local, regional and global clients across different industries to provide consultancy that drives optimal results.
					p As an entrusted partner and reliable escort to excellence, we don’t stop at high level consultancy and theoretical recommendations, but rather walk every organization hand in hand through their journey to effective, proven, and enduring solutions.
				.aboutUs-wrapper-images
					img(src=require('Images/aboutUs-image.png'))
	
	section#industries
		.container
			.industries-wrapper
				.industries-wrapper-title
					h2 BerLush representing a different companies in a different sectors in KSA
				.industries-wrapper-content 
					.industries-wrapper-content-title
						h2 Industries that we serve
					.industries-wrapper-content-card
						.card-images 
							img(src=require('Images/hardware-chip.svg'))
						h2 Cyber
						p Opora Cervello
					.industries-wrapper-content-card
						.card-images 
							img(src=require('Images/shield.svg'))
						h2 Securty
						p D-fend
					.industries-wrapper-content-card
						.card-images 
							img(src=require('Images/subway.svg'))
						h2 Rail vehicle
						p Deuta
					
	section#contacts
		.container
			.contacts-wrapper 
				.contacts-wrapper-title 
					h2 Contacts
				.contacts-wrapper-content
					.content-images
						img(src=require('Images/contacts.png'))
					.contacts-wrapper-content-info
						.contacts-wrapper-content-info-card
							.card-images
								img(src=require('Images/mail.svg'))
							h1 Email
							p info@mail.ru
							p Sasha1234@gmail.com
						.contacts-wrapper-content-info-card
							.card-images
								img(src=require('Images/call.svg'))
							h1 Phone
							p (123)-45-67
						.contacts-wrapper-content-info-card
							.card-images
								img(src=require('Images/location.svg'))
							h1 Location
							p Strit 123 striy 111111

block footer 
	section.footer 
		.container
			.footer-wrapper
				ul.footer-wrapper-menu
					li
						a(href="#aboutUs") About Us
					li
						a(href="#industries") Industries
					li
						a(href="#contacts") Contacts
				p Copyright © 2022. BerLush. All rights reserved.